

                      <a href="/logout" class="linked"><button>LOGOUT</button></a> 
   


                 <h2>WELCOME 🧑‍🍳 {{output}} </h2>

               
                <form action="/suggest/{{output}}" method="post">
<h1>PLEASE INSERT YOUR SUGGESTION HERE:</h1>
    
            <div class="button">
            <button> ADD</button>
        <h4 class="error"> {{messages.error}}</h4>
  <h3 class="success"> {{messages.success}}</h3>


    
  

    </form>